body {
    background-color: black;
    margin: 0;
    padding-top: 2%;
}
.heading {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 200%;
    text-align: center;
}
nav {
	text-align: center;
	margin: auto;
	padding-bottom: 1%;}
#menu {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#java {
    width: 720px;
    margin-left: 26%;
}
p {
    color: white;
    font-size: 150%;
}
a {
    color: whitesmoke;
    margin: 46%;
    font-size: 150%;
}
li {
    color: black;
    font-size: 150%;
}
#listen {
    width: 100%;
    background-color: white;
    text-align: center;
}
#image {
    margin-left: 13%;
}
ul {
    width: 25%;
    margin-left: 35%;
    
}
#hitta {
    margin-left: 45%;
}